@use '../foundation/variable' as var;

/*- header -*/
.l-main {
	position: relative;
	margin: 0 auto;
	padding: 4.1700% 4.1700% 0;
}
/*- header -*/
.l-header {
	position: fixed;
	top: 1.3889%;;
	left: 0;
	z-index: 2;
	&__logo {
		line-height: 1;
		mix-blend-mode: multiply;
		font-size: var.$font-size-logo;
	}
}

/*- footer -*/
.l-footer {
	overflow-x: hidden;
	border-top: 1px solid var.$color-main;
}
