@use '../../foundation/variable' as var;
@use '../../foundation/mixin' as *;


/*- loading -*/
.p-loading {
  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    transition: all .3s;
    &.is-done {
      opacity: 0;
      visibility: hidden;
    }
  }
  &__background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var.$color-accent;
    z-index: 1;
    transition: all .3s;
    &.is-done {
      opacity: 0;
      visibility: hidden;
    }
  }
}


/*- main visual -*/
.p-mainvisual {
  &__title {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 6.8182%;
    background: linear-gradient(transparent, transparent) 0 92% / 100% 1px no-repeat;
    align-items: center;
    font-size: var.$font-size-heading;
    letter-spacing: 0.02em;
    line-height: 1;
    @include hide(20px, .5s, .9s);
    z-index: 0;
    > .p-mainvisual__subtitle {
      display: inline-block;
      margin-bottom: 0.7576%;
      font-size: var.$font-size-base;
      font-weight: normal;
      visibility: hidden;
      opacity: 0;
      transition: opacity .8s;
    }
    &.is-done {
      background: linear-gradient(var.$color-main, var.$color-main) 0 92% / 100% 1px no-repeat;
      @include show();
      > .p-mainvisual__subtitle {
        visibility: visible;
        opacity: 1;
      }
    }
  }
  &__lead {
    margin-bottom: 9.0909%;
    @include hide(10px, .5s, 1s);
    &.is-done {
      @include show();
    }
    @include tab {
      margin-bottom: 15%;
    }
  }
  &__image {
    position: relative;
    width: 59.7727%;
    aspect-ratio: 4 / 3;
    margin-right: var.$margin-negative;
    margin-left: auto;
    margin-bottom: 10.6061%;
    background: url(../../../img/mainvisual/img-cybercity.jpg) right bottom / contain no-repeat;
    @include tab {
      width: 90%;
    }
  }
  &__marquee {
    position: absolute;
    top: 0;
    left: 0;
    height: 50%;
    aspect-ratio: 1 / 1;
    transform: translate(-50%, -50%);
    mix-blend-mode: exclusion;
    color: #fff;
    animation: rotateMarquee 20s infinite linear;
    @include hide(5px, .5s, 1s);
    &.is-done {
      @include show();
    }
  }
  @keyframes rotateMarquee {
    0% {
      transform: translate(-50%, -50%) rotate(0);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  &__background {
    position: absolute;
    top: 8.34%;
    left: var.$margin-negative;
    width: calc(100% + 4.17%);
  }
  &__bubble {
    position: relative;
    width: 160px;
    img {
      position: absolute;
      top: 0;
      left: 0;
      animation: rotateBubble 10s linear infinite;
    }
    @include tab {
      width: 90px;
    }
  }
  @keyframes rotateBubble {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}


/*-- pickup --*/
.p-pickup{
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 1fr 87.2727%;
  @include tab {
    grid-template-columns: auto;
  }
  &__title {
    grid-column: 1;
    grid-row: 1 / 4;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    @include tab {
      grid-column: 1;
      grid-row: 1;
    }
  }
  &__title svg {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(90deg) translateY(calc(-100% * 5.1077)) scale(5.1077);
    transform-origin: top left;
    @include tab {
      position: static;
      transform: rotate(0) translateY(0) scale(1);
      margin-bottom: 5%;
    }
  }
  &__title text {
    @include svg(128px);
  }
  &__content {
    position: relative;
    margin-left: 3.0303%;
    border-bottom: 1px solid var.$color-sub2;
    @include tab {
      margin-left: 0;
    }
  }
  &__content1 {
    grid-column: 2;
    grid-row: 1;
    border-top: 1px solid var.$color-sub2;
    @include tab {
      grid-column: 1;
      grid-row: 2;
    }
  }
  &__content2 {
    grid-column: 2;
    grid-row: 2;
    @include tab {
      grid-column: 1;
      grid-row: 3;
    }
  }
  &__content3 {
    grid-column: 2;
    grid-row: 3;
    @include tab {
      grid-column: 1;
      grid-row: 4;
    }
  }
  &__button {
    padding-top: 0.8396%;
    padding-bottom: 2.5189%;
    background: none;
    pointer-events: all;
    text-align: left;
    cursor: pointer;
    @include tab {
      padding-top: 3%;
      padding-bottom: 3%;
    }
  }
  &__subtitle {
    display: block;
    width: fit-content;
    font-size: var.$font-size-s;
    font-weight: 700;
  }
  &__desc {
    display: block;
    line-height: 1.4;
    @include tab {
      margin-bottom: 2%;
    }
  }
  &__number {
    position: absolute;
    bottom: 0;
    right: 0;
    font-weight: 700;
    font-size: var.$font-size-xl;
    color: var.$color-sub;
    line-height: .8;
    z-index: -1;
    @include tab {
      z-index: 1;
    }
  }
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 34.7628%;
    pointer-events: none;
    @include hide(20px, .2s, .5s);
    z-index: 1;
    &.is-show {
      @include show();
    }
    @include tab {
      position: static;
      width: 100%;
      opacity: 1;
      visibility: visible;
      filter: blur(0);
    }
  }
  &__modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .6);
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
    &.is-modalOpen {
      visibility: visible;
      opacity: 1;
      z-index: 9999;
    }
    &.is-modalClose {
      visibility: hidden;
      opacity: 0;
      z-index: -1;
    }
    &-content {
      position: absolute;
      inset: 0;
      margin: auto;
      width: fit-content;
      max-width: 80vw;
      height: fit-content;
      max-height: 80vh;
    }
    &-button {
      background: var.$color-sub;
      margin: 20px;
      &::before {
        content: none;
      }
    }
  }
}

/*-- funart --*/
.p-funart{
  position: relative;
  padding-bottom: 3.7879%;
  &__contents {
    display: grid;
    grid-template-columns: 74.5455% 1fr;
    grid-template-rows: max-content 1fr;
    column-gap: 1.8182%;
    @include tab {
      grid-template-columns: 100%;
      grid-template-rows: auto;
      column-gap: 2%;
    }
  }
  &__title {
    grid-row: 1;
    grid-column: 2;
    align-self: baseline;
    width: 92.6282%;
    @include tab {
      grid-row: 1;
      grid-column: 1;
      width: 45%
    }
  }
  &__title text {
    @include svg(128px);
  }
  &__lead {
    grid-row: 2;
    grid-column: 2;
    @include tab {
      grid-row: 2;
      grid-column: 1;
      margin-bottom: 2%;
    }
  }
  &__slide {
    grid-row: 1 / -1;
    grid-column: 1;
    @include tab {
      grid-row: 3;
      grid-column: 1;
    }
  }
  &__button {
    cursor: pointer;
  }
  &__desc {
    position: absolute;
    bottom: 0;
    right: var.$margin-negative;
    margin-left: 19.0909%;
    font-size: var.$font-size-m;
    color: var.$color-sub;
    line-height: 1.2;
    text-align: right;
    z-index: -1;
  }

  &__modal {
    @extend .p-pickup__modal;
    &.is-modalClose {
      @extend .is-modalClose;
    }
    &-content {
      @extend .p-pickup__modal-content;
    }
    &-button {
      @extend .p-pickup__modal-button;
    }
  }
}

/*-- hand drawn --*/
.p-handdrawn {
  &__title {
    display: flex;
    align-items: center;
    line-height: 1;
    &::after {
      display: inline-block;
      flex: 1 1 100%;
      height: 1px;
      background: var.$color-sub;
      transform: translateX(7.6336%);
      content: "";
      @include tab {
        content: none;
      }
    }
  }
  &__title svg {
    flex-shrink: 0;
    width: 39.7727%;
    @include tab {
      width: 80%;
    }
  }
  &__title text {
    @include svg(128px);
  }
  &__contents {
    display: flex;
    justify-content: space-between;
    @include tab {
      flex-direction: column;
    }
  }
  &__lead {
    width: 23.6364%;
    @include tab {
      width: 100%;
    }
  }
  &__images {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-auto-rows: auto;
    gap: 24px;
    width: 68.1818%;
    margin-left: 6.3636%;
    @include tab {
      grid-template-columns: repeat(3, auto);
      gap: 16px;
      width: 100%;
      margin-left: 0;
    }
  }
  &__button {
    cursor: pointer;
  }
  &__modal {
    @extend .p-pickup__modal;
    &.is-modalClose {
      @extend .is-modalClose;
    }
    &-content {
      @extend .p-pickup__modal-content;
    }
    &-button {
      @extend .p-pickup__modal-button;
    }
  }
}

/*-- flowers --*/
.p-flowers {
  &__titles {
    width: fit-content;
    margin-right: var.$margin-negative;
    margin-left: auto;
    margin-bottom: 5.5455%;
    @include tab {
      margin-bottom: 3%;
    }
  }
  &__title {
    font-size: var.$font-size-m;
  }
  &__lead {
    text-align: left;
  }
  &__images {
    display: flex;
    gap: 24px;
    margin: 0 calc(50% - 50vw);
     li {
        width: 33.3333%;
     }    
    @include tab {
      gap: 16px;
    }
  }
}


/*-- footer --*/
.p-footer {
  overflow: hidden;
  color: var.$color-base;
  &__sleeping-talk {
    display: inline-block;
    display: flex;
    // white-space: nowrap;
    // gap: 1rem;
    font-size: var.$font-size-l;
    color: var.$color-base;
    text-shadow: -1px -1px 0 var.$color-main, -1px 0 0 var.$color-main, -1px 1px 0 var.$color-main,0 -1px 0 var.$color-main, 0 1px 0 var.$color-main,1px -1px 0 var.$color-main,  1px 0 0 var.$color-main,  1px 1px 0 var.$color-main;
    span {
      white-space: nowrap;
    }
  }
  &__copyright {
    margin: 0 1.3889%;
    padding-bottom:  1.3889%;
    text-align: right;
  }
}
.p-background{
  &__path {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
