h1 {
  color: green;
}

$text-color: orange;

@mixin set-margin($direction, $value) {
  margin-#{$direction}: $value;
}
.content {
  .title {
    font-size: 24px;
    color: $text-color;
  }
  .title-lg {
    @extend .title;
    //titleを継承できる
    font-size: 32px;
  }
  @include set-margin(right, 16px);
}
